{% extends 'landingar.html' %}

{% load static %}

{% block icerik %}
    <h2 class="text-center mt-5 mb-3">من نحن</h2>
    <p class="text-center mt-2 mb-5">
        صفحة الويب Mental Health Youth Works هي نتاج المشروع البحثي "الرفاه العقلي للشباب في تركيا" الذي تنفذه جمعية دعم المجتمع المدني - SİTODED. يتم تنفيذ المشروع على 3 مراحل. يتكون المشروع من تحديد حالة الصحة النفسية للشباب بعد الوباء ، والتحليل ، وإنشاء خارطة الطريق وتنفيذها
        <br><br>
جمعية الدعم غير الحكومية - تستمر دراسات SİTODED البحثية ، التي تبدأ من المنطقة المحلية وتستمر على المستوى الوطني ، بصحبة الأكاديميين الخبراء في مجالهم. يمكنك الوصول إلى نتائج البحث ومخرجات الدراسات المكتملة من رابط "المصدر المفتوح" في موقعنا على الإنترنت.
<br><br>
تتواصل الدراسات في المقاطعات التجريبية المختارة من جميع المناطق على المستوى الوطني.
يمكنك الوصول والمشاركة في قسم "الإعلانات" على صفحة الويب الخاصة بنا حول "محو الأمية المتعلقة بالصحة العقلية" والدراسات التدريبية المماثلة ، والتي يتم تضمينها في المراحل الأخرى من مرحلة التنفيذ
<br><br>
يمكنك أيضًا الوصول إلى الأنشطة الدولية في مجال الموضوع على موقعنا على الإنترنت
    </p>

{% endblock icerik %}