{% extends "navbar.html" %}
{%load static%}

{% block navbaring %}
<ul class="navbar-nav me-2">
          
         
          
        
          
          
          
       
         
          
          
         
          
          <li class="nav-item dropdown">
            <a id="dil" class="nav-link dropdown-toggle me-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                
              اللغة
            </a>
            <ul class="dropdown-menu me-3">
              <li><a id="tr" class="dropdown-item" href="{% url 'anasayfa' %}">Türkçe</a></li>
              <li><a id="en"  role="button"  class="dropdown-item" href="{% url 'landingen' %}">English</a></li>
              <li><a id="ar" class="dropdown-item text-end" href="{% url 'landingar' %}">العربية</a></li>
            </ul>
          </li>
        
        <li class="nav-item">
          <a id="iletisim" class="nav-link" href="{% url 'iletisimar' %}">تواصل معنا</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'derinmevzuar' %}" id="derinMevzu" class="nav-link">موضوع مهم</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'stigmaar' %}" id="stigma" class="nav-link">Stigma</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'mentalhealth101ar'%}" id="mentalHealth101" class="nav-link">MentalHealth101</a>
        </li>
        <li class="nav-item">
          <a id="hakkimizdaen" class="nav-link" href="{% url 'hakkimizdaar' %}">من نحن</a>
        </li>
        <li class="nav-item">
          <a id="anasayfa" class="nav-link " aria-current="page" href="{% url 'landingar' %}">الصفحة الرئيسية</a>
        </li>
      </ul>
{% endblock navbaring %}
         