{% extends 'landingar.html' %}
{% load static %}

{% block icerik %}

    <h2 class="text-center mt-5 mb-5">
        Stigma (الوصم)
    </h2>
    <p class="text-center p-5 mx-1 mb-5">
        فالوصم يضع الشخص في وضع ملوث ومخجل ومهين ومهمش بشكل غير طبيعي ومنفصل أثناء كونه جزءًا من المجتمع. تشير وصمة العار إلى الإذلال وفقدان السمعة والتقليل من قيمة العملة ورفض المجتمع. هذه الملصقات ، التي تصيب الشخص مثل وصمة العار ، قد تجعل الشخص أقل قيمة ، وغير مرغوب فيه ، ومعزول ، ويواجه مواقف مهينة. إنه يجعل الشخص في وضع مشين ، ملوث ، محرج ، سيئ السمعة. يعتبر الشخص غير طبيعي نتيجة لسمعة سيئة. أن يُشار إليه على أنه أمر غير طبيعي ، فالتهميش قد يجعله يرى موقفًا مهينًا ومختلفًا عن بيئته.

 
        <br><br>
        

        الأشخاص المصابون باضطرابات عقلية هم الأشخاص الأكثر تعرضًا للوصم منذ العصور المبكرة. من الماضي إلى الحاضر ، كما أظهرت العديد من الدراسات ، قام المجتمع بوصم (وصم) الأشخاص الذين يعانون من اضطرابات الصحة العقلية بأنهم "غير عاديين" و "خطيرين" و "لا يمكن التنبؤ بهم". لسوء الحظ ، "الطابع المجنون" هنا ..

        

        <br><br>

        يتم التعامل مع الأشخاص الذين يعانون من اضطرابات نفسية بالتحيز ويتم التمييز ضدهم ، ويفقدون مكانهم في الحياة الاجتماعية بمرور الوقت. سبب آخر لعدم النظر إلى الأمراض النفسية على أنها أمراض أخرى هو أن الأمراض النفسية يُنظر إليها على أنها خطأ هؤلاء الناس ، وخزيهم ، ونقصهم. الأحكام المسبقة التي طورها الناس هي أكبر عقبة أمام الأشخاص الذين يعانون من مشاكل عقلية من الحصول على مساعدة مهنية. يعتبر قلق وصمة العار أكثر شيوعًا في المرضى النفسيين. أظهرت الدراسات أن ما معدله 35٪ من المرضى الذين تم إدخالهم إلى العيادات الخارجية للطب النفسي يعانون من قلق وصمة العار. بسبب وصمة العار ، يرفض الكثير من الناس طلب المساعدة النفسية. ويلاحظ أن الشخص الموصوم بالعار يعاني من انخفاض في احترام الذات مع الموقف والقلق من الإقصاء. يستوعب الشخص هذه المواقف تجاه نفسه بمرور الوقت. وبالتالي ، يتحول الشخص إلى شخص محبط ، وضعف في الانسجام الاجتماعي ، وخجول ، ومعزول عن المجتمع ، وغير قادر على التفكير بوضوح. وأود أن أؤكد على أهمية الحصول على دعم من خبير في مثل هذه الحالات. أتمنى أيامًا بدون وصمة عار.
    </p>
{% endblock icerik %}