{% extends "landing.html" %}
{% load static %}
{% block title %}
    <title>MHYW-Hakkımızda</title>
{% endblock title %}

{% block icerik%}
<h2 class="text-center mt-5 mb-3">Hakkımızda</h2>
<p class="m-auto mt-5 mb-5 p-5 hakkimizda ">
    Mental Health Youth Work(er)s web sayfası, Sivil Toplum Destekleme Derneği – SİTODED
tarafından uygulanan “Türkiye’de Gençlerin Mental İyi Oluş Hali” araştırma projesinin
çıktısıdır.
Proje 3 aşamalı uygulanmaktadır. <br><br> Proje özellikle pandemi sonrası gençlerin mental sağlık
durumlarının tespiti, analiz çalışması, yol haritasının oluşturulması ve uygulama
aşamalarından oluşmaktadır. <br> <br>
Sivil Toplum Destekleme Derneği – SİTODED’in faaliyet gösterdiği yerelden başlayarak ulusal
çapta devam ettirilen araştırma çalışmaları alanında uzman akademisyenler eşliğinde devam
etmektedir. <br> <br> Araştırma sonuçlarına ve tamamlanan çalışmaların çıktılarına web sayfamızın
“AÇIK KAYNAK” linkinden ulaşabilirsiniz. <br><br>
Çalışmalar ulusal boyutta tüm bölgelerden seçilen pilot illerde devam ettirilmektedir. <br><br>
Uygulama aşamasının diğer aşamalarında yer alan “Mental Sağlık Okuryazarlığı” ve benzeri
eğitim çalışmaları için web sayfamızın “DUYURULAR” kısmından ulaşabilir, katılım
sağlayabilirsiniz. <br>
Web sayfamızda ayrıca konu alanında uluslararası faaliyetlere de erişim sağlayabilirsiniz.
<br> <br>
<span class="fs-3">
    Yayınlanmasını istediğiniz yazılarınızı bizlere iletebilirsiniz. Yazılarınız editörlerimizin incelemesi ardından Derin Mevzu sayfamızda yayınlanacaktır.
</span> 
</p>
{% endblock icerik%}